html {
  margin: 0;
  padding: 0;
}

body{
  background-image: url(../visuals/forest_pop_art.png);
  background-size: cover;
  margin: auto;
  background-repeat: no-repeat;
}

canvas {
  position: absolute;
  display: block;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
   
}


.centered{
  color: white;
  text-align: center;
  width: 450px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
